<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9n_HvETGhr3DOmKgwaSKEWkQiiKo72E_wFqGPCFm8j5WPvE.2N.3T263qEZwBbo4L3GNKehUmdgQxIos0</string>
	<key>oauthRedirectURI</key>
	<string>trailheadapp://auth/success</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
