<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>remoteAccessConsumerKey</key>
	<string>3MVG9n_HvETGhr3BhgOa3BHGyXCKez6A3lQA_zN2aHgcH5HS9W6OaGof68X7GYb1bwVmpr0whc1OBuAE7VCLW</string>
	<key>oauthRedirectURI</key>
	<string>salesforcedemo://auth/success</string>
	<key>oauthScopes</key>
	<array>
		<string>web</string>
		<string>api</string>
	</array>
	<key>shouldAuthenticate</key>
	<true/>
</dict>
</plist>
