DerivedData
project.xcworkspace
*.iml
*.xcworkspace/
*~
.DS_Store
.github/
.gradle/
.idea/
.metadata/
.settings/
Podfile.lock
bin/
bower_components/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
proguard-project.txt
xcuserdata
package-lock.json
